.coverPage {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coverPage::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("assets/images/gokartbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.3);
}

.coverFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15%;
}

.coverTireLogo {
  width: 25vw;
  height: auto;
  user-select: none;
  pointer-events: none;
  filter: drop-shadow(0 0 0.5rem var(--mario));
}

.coverTitle {
  margin-top: 5rem;
  font-size: min(10vw, 3rem);
  text-align: center;
}

.coverTitle span:first-child {
  color: var(--mario);
}
.coverTitle span:nth-child(2) {
  color: var(--wario);
}
.coverTitle span:last-child {
  color: var(--luigi);
}

.coverMarkuszLogo {
  width: 25vw;
  height: auto;
  user-select: none;
  pointer-events: none;
  filter: drop-shadow(0 0rem 0.5rem var(--luigi));
}

.coverDown {
  width: 100px;
  animation: ease-in-out 2s infinite UpNDown;
  color: whitesmoke;
  transform: translateY(120%);
}

@keyframes UpNDown {
  0%,
  100% {
    transform: translateY(100%);
  }

  50% {
    transform: translateY(120%);
  }
}

.section {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  gap: 2rem;
}

.Text {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--tiregray);

  padding: 4rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-radius: 1rem;
  transition: 150ms all ease-in-out;
}

@media (hover: hover) {
  .Text[data-color="yellow"]:is(:hover, :active) {
    box-shadow: 0rem 0rem 1rem var(--wario);
  }
  .Text[data-color="red"]:is(:hover, :active) {
    box-shadow: 0rem 0rem 1rem var(--mario);
  }
  .Text[data-color="green"]:is(:hover, :active) {
    box-shadow: 0rem 0rem 1rem var(--luigi);
  }
}

.Text > h2 {
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 2rem;
}

.Text[data-color="yellow"] {
  color: var(--wario);
}
.Text[data-color="red"] {
  color: var(--mario);
}
.Text[data-color="green"] {
  color: var(--luigi);
}

.Text > p {
  font-size: 1.5rem;
  width: 80%;
}

.Text > ul {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.Image {
  width: 30vw;
  height: auto;
  display: grid;
  place-items: center;
}

@media screen and (max-width: 1000px) {
  .section {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    gap: 2rem;
  }

  .Text {
    width: 90%;
    padding: 3rem 1rem;
  }

  .Image[data-type="image"] {
    order: 2;
  }
  .Text[data-type="text"] {
    order: 1;
  }

  .Image {
    height: 30vh;
    width: auto;
    display: grid;
    place-items: center;
  }
}
